CMakeCache.txt
CMakeFiles
Makefile
*.cxx_parameters
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
src/NativePresets/cmake_install.cmake
src/cmake_install.cmake
src/libprojectM/MilkdropPresetFactory/cmake_install.cmake
src/libprojectM/NativePresetFactory/cmake_install.cmake
src/libprojectM/Renderer/cmake_install.cmake
src/libprojectM/cmake_install.cmake
src/projectM-libvisual/cmake_install.cmake
src/projectM-pulseaudio/cmake_install.cmake
src/projectM-qt/cmake_install.cmake
src/projectM-test/cmake_install.cmake

